body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: #d9d9d9;
}
.sidebar {
  width: 250px;
  min-width: 250px;
  border-right: 1px solid #ababab;
}

.content {
  width: 100%;
}
.container {
  margin: auto;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.chart {
  margin: 5px;
}

.chart-item {
  flex: 1;
  min-width: 600px;
  background: #ffffff;
  margin: 10px 5px;
  padding: 16px;
  border-radius: 5px;
}

.table-container {
  background: #ffffff;
  margin: 10px 5px;
  padding: 16px;
  border-radius: 5px;
}
img {
  max-width: 100%;
  height: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
table,
th,
td {
  border: 1px solid #ddd;
}
th,
td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
#hpfy24a,
#pfify24,
#fy25avspoe,
#fy26avspoe {
  height: 400px;
}
#acap {
  height: 500px;
  width: 70%;
  min-width: 600px;
}

#fyamvspoe {
  height: 600px;
}

#rmpnmibase {
  min-height: 700px;
}
#loading {
  text-align: center;
}

#filter0 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 0;
  border-bottom: 1px solid #c3c3c3;
  position: sticky;
  top: 0;
}

#filter1,
#filter2,
#filter3 {
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  padding: 30px 25px;
  position: sticky;
  top: 183px;
}
#filter1 p,
#filter2 p,
#filter3 p {
  margin: 0;
  font-weight: bold;
}
#filter1 {
  display: flex;
}
#filter2,
#filter3 {
  display: none;
}

#filter1 label,
#filter2 label,
#filter3 label {
  font-size: 14px;
}

#filter1 .filter-container {
  flex: 1;
}
#filter1 .filter-container,
#filter2 .filter-container,
#filter3 .filter-container {
  display: flex;
  flex-direction: column;
}

#filter1 .filter-container select {
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

#filter2 .filter-container,
#filter3 .filter-container {
  flex: none;
}

#filter2 .filter-container select,
#filter3 .filter-container select {
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

#clearFilters {
  position: fixed;
  bottom: 105px;
  left: 25px;
}
#exportButton {
  position: fixed;
  bottom: 60px;
  left: 25px;
}

#exportDataButton {
  position: fixed;
  bottom: 15px;
  left: 25px;
}

#clearFilters button {
  border: 1px solid #ababab;
  font-family: "Inter";
  color: red;
  cursor: pointer;
  width: 200px;
  padding: 8px;
  border-radius: 5px;
}
#exportButton button,
#exportDataButton button,
#clearChartFilter button {
  border: 1px solid #ababab;
  font-family: "Inter";
  cursor: pointer;
  width: 200px;
  padding: 8px;
  border-radius: 5px;
}

.footer {
  padding: 10px;
}
.footer-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.footer-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  flex: 1;
  min-width: 200px;
}
.footer-item h3 {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
}
.footer-item p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: auto;
}

/* Hide default radio buttons */
.toggle-container input[type="radio"] {
  display: none;
}

/* Style the buttons */
.toggle-container label {
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1;
  text-align: center;
}

/* Change button style when selected */
.toggle-container input[type="radio"]:checked + label {
  background-color: #353535;
  color: white;
  border-color: #353535;
}

.header-table {
  display: flex;
  padding: 15px 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header-items {
  margin-bottom: 8px;
}

.header-item-label {
  font-weight: 700;
  font-size: 18px;
  color: #6b6b6b;
  min-width: 230px;
}

.header-item-value {
  font-weight: 600;
  font-size: 28px;
  color: #67b7dc;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .footer-item {
    flex: 1 1 100%;
  }
}
